<header role="banner" class="row no-gutters">
  <div class="col-12 bg-primary">
    <h1 class="p-2 my-auto">
      <a class="text-white text-decoration-none" routerLink="/">Mes bouquins</a>
    </h1>
  </div>

  <div class="col bg-white">
    <nav role="navigation" class="my-3">
      <ul class="d-flex justify-content-center list-unstyled">
        <li *ngFor="let route of routes">
          <a
            class="p-2 m-2"
            [routerLink]="route.path"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ route.label }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
