<div class="col" *ngIf="form">
  <h2 class="my-2">Ajout de livre</h2>
  <form
    class="border border-secondary rounded p-3"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div class="mb-3">
      <label class="form-label required" for="title">Titre</label>
      <input
        class="form-control"
        type="text"
        id="title"
        name="title"
        formControlName="title"
        required
      />
    </div>
    <div class="mb-3">
      <label class="form-label required" for="author">Auteur</label>
      <input
        class="form-control"
        type="text"
        id="author"
        name="author"
        formControlName="author"
        required
      />
    </div>
    <div class="mb-3">
      <label class="form-label" for="overview">Description</label>
      <input
        class="form-control"
        type="text"
        id="overview"
        name="overview"
        formControlName="overview"
      />
    </div>
    <div class="mb-3">
      <label class="form-label" for="read_count">Nombre de lectures</label>
      <input
        class="form-control"
        type="number"
        id="read_count"
        name="read_count"
        formControlName="read_count"
        [defaultValue]="1"
      />
    </div>
    <div class="mb-3">
      <label class="form-label required" for="isbn">ISBN</label>
      <input
        class="form-control"
        type="text"
        id="isbn"
        name="isbn"
        formControlName="isbn"
        required
      />
    </div>
    <button class="btn btn-success" [disabled]="form.invalid">Ajouter</button>
  </form>
</div>
